@model IEnumerable<TBHAcademy.Models.Content>

@{
    ViewData["Title"] = "AddTopics";
    Layout = "~/Views/Shared/_HodLayout.cshtml";
}

<h1>AddTopics</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TopicName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TopicDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DocumentDescription1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Document1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DocumentDescription2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Document2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DocumentDescription3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Document3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DocumentDescription4)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Document4)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DocumentDescription5)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Document5)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LinkDescription1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Link1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LinkDescription2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Link2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LinkDescription3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Link3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LinkDescription4)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Link4)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LinkDescription5)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Link5)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TopicName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TopicDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DocumentDescription1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Document1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DocumentDescription2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Document2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DocumentDescription3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Document3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DocumentDescription4)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Document4)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DocumentDescription5)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Document5)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LinkDescription1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Link1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LinkDescription2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Link2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LinkDescription3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Link3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LinkDescription4)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Link4)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LinkDescription5)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Link5)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
