@model IEnumerable<TBHAcademy.Models.Content>

@{
    ViewData["Title"] = @ViewBag.Tittle;
    Layout = ViewBag.Layout;
}

<!------------------------------------------------- Header --------------------------------------------------------------------------------------->
<div class="w-100 " style="background: rgba(6, 73, 181,0.5)">
    <div class="pt-1 m-0 row">
        <h5 class="text-white text-center ">@ViewBag.Header</h5>
    </div>
</div>
@if(Layout == "~/Views/Shared/_TutorLayoutcshtml.cshtml"){
    <div class="container mt-3">
  <button type="button" id="Add" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">
    Add new Content
  </button>

</div>
<script defer>
$(document).ready(function() {
    $("#Add").click(function() {
        $('#Display').load("/Module/Add");
    });
});
</script>
}


<!-- The Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <!-- Modal body -->
      <div class="modal-body">
        <div id="Display"></div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
      </div>

    </div>
  </div>
</div>
<!--Displaying the conetne-->
<div id="accordion" class="pt-2">
    @if(ViewBag.Bool != null)
    {
         @foreach (var item in Model)
    {
         <h2>
            <a href="#">
                @item.TopicName
            </a>
        </h2>
        <div>
            <div>
                <div class="pb-2 fw-bold">
                  <a class="text-primary" href="#">@item.TopicDescription</a>
                </div>
                <div class="pb-2 fw-bold">
                    <a class="text-primary" href="#">@item.DocumentDescription1</a>

                </div>
                <div class="pb-2 fw-bold">
                   <a class="text-primary" href="#">@item.Document1</a>

                </div>
                <div class="pb-2 fw-bold">
                    <a class="text-primary" href="#">@item.DocumentDescription2</a>

                </div>
                <div class="pb-2 fw-bold">
                   <a class="text-primary" href="#">@item.Document2</a>

                </div>
                <div class="pb-2 fw-bold">
                    <a class="text-primary" href="#">@item.DocumentDescription3</a>

                </div>
                <div class="pb-2 fw-bold">
                   <a class="text-primary" href="#">@item.Document3</a>

                </div>
                 <div class="pb-2 fw-bold">
                    <a class="text-primary" href="#">@item.DocumentDescription4</a>

                </div>
                <div class="pb-2 fw-bold">
                   <a class="text-primary" href="#">@item.Document5</a>

                </div>
                 <div class="pb-2 fw-bold">
                    <a class="text-primary" href="#">@item.DocumentDescription5</a>

                </div>
                <div class="pb-2 fw-bold">
                   <a class="text-primary" href="#">@item.LinkDescription1</a>

                </div>
                 <div class="pb-2 fw-bold">
                    <a class="text-primary" href="#">@item.Link1</a>

                </div>
                         <div class="pb-2 fw-bold">
                   <a class="text-primary" href="#">@item.LinkDescription1</a>

                </div>
                 <div class="pb-2 fw-bold">
                    <a class="text-primary" href="#">@item.Link2</a>

                </div>
                         <div class="pb-2 fw-bold">
                   <a class="text-primary" href="#">@item.LinkDescription2</a>

                </div>
                 <div class="pb-2 fw-bold">
                    <a class="text-primary" href="#">@item.Link3</a>

                </div>
                           <div class="pb-2 fw-bold">
                   <a class="text-primary" href="#">@item.LinkDescription3</a>

                </div>
                 <div class="pb-2 fw-bold">
                    <a class="text-primary" href="#">@item.Link4</a>

                </div>
                           <div class="pb-2 fw-bold">
                   <a class="text-primary" href="#">@item.LinkDescription5</a>

                </div>
                 <div class="pb-2 fw-bold">
                    <a class="text-primary" href="#">@item.Link2</a>
                </div>
                <div class="modal-footer">
                           <a asp-controller="#" asp-action="#" asp-route-ID="@item.ContentId" name="Update" class="btn btn-primary">Update</a>
                                
                      <button type="button" class="btn btn-outline-danger text-mute" data-dismiss="modal">Delete</button>

                  </div>
            </div>
        </div>
        
        }
        
    }
   else
        {
            <h3>No Content uploaded yet, Please be patient</h3>
        }
   
   
</div>
 
