@model SubViewModel
@{
    ViewData["Title"] = "Enroll";
    Layout = "_StudentLayout - Copy";
}
<h4>Files on Database</h4>
@if (Model.File.Count == 0)
{
    <caption>No Records Found</caption>
}
else
{
    <caption>List of Files on Database</caption>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Description</th>
                <th>File Type</th>
                <th>Submited On</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var file in Model.File)
            {
                <tr>
                    <th>@file.Id</th>
                    <td>@file.Name</td>
                    <td>@file.Description</td>
                    <td>@file.FileType</td>
                    <td>@file.Data</td>
                    <td>
                        <a type="button" class="btn btn-primary" asp-controller="Module" asp-action="DownloadFileFromDatabase" asp-route-id="@file.Id">Download</a>
                        <a type="button" class="btn btn-danger" asp-controller="File" asp-action="DeleteFileFromDatabase" asp-route-id="@file.Id">Delete</a>
                    </td>
                </tr>
            }

        </tbody>
    </table>
}
