@using Microsoft.AspNetCore.Identity
@using TBHAcademy.Areas.Identity.Data
@using TBHAcademy.Models
@model IEnumerable<TBHAcademy.Models.Faculty>
@inject SignInManager<TBHAcademyUser> SignInManager
@inject UserManager<TBHAcademyUser> UserManager

@{
    Layout = "_HodLayout";
}
<header>
    <style>
                #dash-con, #AssessmentTable {
            background: rgba( 0, 93, 255, 0.35 );
            box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
            backdrop-filter: blur( 2.5px );
            -webkit-backdrop-filter: blur( 2.5px );
            border-radius: 10px;
            border: 1px solid rgba( 255, 255, 255, 0.18 );
        }
        #dash-con:hover{
            background: rgba( 0, 93, 255, 0.65 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 12px );
        -webkit-backdrop-filter: blur( 12px );
        border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
        }
    </style>
</header>
<div class="w-100 mb-2  " style="background: rgba(6, 73, 181,0.5)">
    <div class="pt-1 m-0 row">
        <h5 class="text-white text-center ">Hod Dashboard</h5>
    </div>
</div>
<div class="container-fluid pt-4 px-4">
    <!--Button to trigger the modal-->
<!-- ********************************************FACULTY MODAL************************************************************************** -->
    <div class="row g-4">
        <div class=" col-sm-6 col-xl-3" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <div id="dash-con" class="dash-con rounded d-flex align-items-center justify-content-between p-4">
                <img src="~/css/Faculty.svg" style="width: 90px" />
                <div class="ms-3">
                    <h4 class="mb-2">Faculties <span class="badge bg-primary rounded-pill text-white">@ViewBag.Faculty</span></h4>

                </div>
            </div>
        </div>
   
<!-- ********************************************FACULTY MODAL CONTENT************************************************************************** -->
        <div class="modal fade" id="exampleModal" tabindex="=-1" aria-labelledby="exempleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header" style="background: rgba(6, 73, 181,0.5)">
                        <h5 class="text-black text-center">Available Faculties</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <table class="table">
                            <thead>
                                <tr>

                                    <th>
                                        @Html.DisplayNameFor(model => model.FacultyName)
                                    </th>                                                            
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var faculty in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => faculty.FacultyName)
                                        </td>                                    
                                        <td>
                                            <a asp-controller="Hod" asp-action="UpdateFaculty" class="button btn btn-outline-info  w-100" asp-route-id="@faculty.FacultyId">Edit</a>
                                            
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                                <a asp-controller="Hod" asp-action="ListFaculty" style="font-size: 15px" asp-route-Id="FacultyId" style="color:white" class=" button btn btn-outlined-info text-center btn-block btn-small" data-bs-toggle="tooltip" data-bs-placement="right" title="List">Go To List</a>
                    </div>

                </div>
            </div>

        </div>
<!-- ********************************************Faculty Modal End************************************************************************** -->

 <!-- ********************************************Course Modal************************************************************************** -->
  <!--\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\-->
  
        <div class=" col-sm-6 col-xl-3">
            <div id="dash-con" class="dash-con rounded d-flex align-items-center justify-content-between p-4">
                <img src="~/css/Courses.svg" style="width: 90px" />
                <div class="ms-3">
                    <h4 class="mb-2">Courses <span class="badge bg-primary rounded-pill text-white">@ViewBag.Course</span></h4>
                </div>
            </div>
        </div>
  
  <!-- ********************************************Modules Modal***********************************************************************************-->
  <div class=" col-sm-6 col-xl-3">
            <div id="dash-con" class="dash-con rounded d-flex align-items-center justify-content-between p-4">
                <img src="~/css/ModulesHod.svg" style="width: 90px" />
                <div class="ms-3">
                    <h4 class="mb-2">Modules <span class="badge bg-primary rounded-pill text-white">@ViewBag.Modules</span></h4>
                </div>
            </div>
   </div>
  
 <!-- ********************************************Enrolled Modal************************************************************************** -->
 <div class=" col-sm-6 col-xl-3">
            <div id="dash-con" class="dash-con rounded d-flex align-items-center justify-content-between p-4">
                <img src="~/css/Enroll.svg" style="width: 90px" />
                <div class="ms-3">
                    <h4 class="mb-2">Enrollment <span class="badge bg-primary rounded-pill text-white">@ViewBag.Enroll</span></h4>
                </div>
            </div>
 </div>
 <br />
 </div>
  <!-- ********************************************Tutors************************************************************************** -->
  



  <!-- ********************************************Students************************************************************************** -->

        @*<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Available Faculties</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        @try
                        {
                            @foreach (MyModules m in ViewBag.Modules)
                            {
                                        <div class="border text-center p-0 mb-1">

                                            <a asp-controller="Module" asp-action="Content" style="font-size: 15px" asp-route-Id="@m.AssignModulesVM.AssignedID" style="color:white" class=" button btn btn-outlined-primary text-center btn-block btn-small" data-bs-toggle="tooltip" data-bs-placement="right" title="@m.ModulesVM.ModuleName">@m.ModulesVM.ModuleCode @m.ModulesVM.ModuleName</a>


                                        </div>

                            }
                        }
                        catch
                        {
                                <p>No Modules Enrolled</p>

                        }



                    </div>
                    <div class="modal-footer">
                        <div>
                            <a asp-controller="Student" asp-action="Enroll" class="button btn btn-primary text-center btn-block btn-small">Enroll New Module</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Button to trigger the modal-->
        <div class="col-sm-6 col-xl-3" data-bs-toggle="modal" data-bs-target="#exampleModal1" >
            <div id="dash-con" class="dash-con rounded d-flex align-items-center justify-content-between p-4">
                <img src="~/css/Overall.svg" style="width: 90px" />
                <div class="ms-3">
                    <h4 class="mb-2">New Activities</h4>

                </div>
            </div>
        </div>
         <!--Modal-->
        <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">New Activities</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                    Mot Working yet



                    </div>
                    <div class="modal-footer">

                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3" data-bs-toggle="modal" data-bs-target="#exampleModal1">
            <div id="dash-con" class=" dash-con rounded d-flex align-items-center justify-content-between p-4">
                <img src="~/css/chat.svg" style="width: 90px" />
                <div class="ms-3">
                    <h4 class="mb-2">New Messages</h4>

                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3" data-bs-toggle="modal" data-bs-target="#exampleModal1">
            <div id="dash-con" class="dash-con rounded d-flex align-items-center justify-content-between p-4">
                <img src="~/css/google.svg" style="width: 90px" />
                <div class="ms-3">
                    <h4 class="mb-2">Online Meeting</h4>

                </div>
            </div>
        </div>
    </div>
</div>
         <!-- Recent Sales Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="AssessmentTable text-center rounded p-4" id="AssessmentTable">
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <h6 class="mb-0">Progress Report</h6>
                        <a href="">Show All</a>
                    </div>
                    <div class="table-responsive">
                        <table class="table text-start align-middle table-bordered table-hover mb-0">
                            <thead>
                                <tr class="text-white">

                                    <th scope="col">Module Code</th>
                                    <th scope="col">Module Name</th>
                                    <th scope="col">Category</th>
                                    <th scope="col">Date of the Assesment</th>
                                    <th scope="col">Mark</th>
                                    <th scope="col">Percentage</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>ONT20222</td>
                                    <td>Software Development</td>
                                    <td>Quize</td>
                                    <td>22 August 2022</td>
                                    <td>90</td>
                                    <td>90%</td>
                                </tr>
                                <tr>

                                    <td>ONT366</td>
                                    <td>Software Development: Project</td>
                                    <td>Presentation</td>
                                    <td>14 September</td>
                                    <td>60</td>
                                    <td>60%</td>
                                </tr>
                                <tr>
                                    <td>PTR2030</td>
                                    <td>Technical Programming II</td>
                                    <td>Practical</td>
                                    <td>28 September 2022</td>
                                    <td>25</td>
                                   <td>50%</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
   <!-- Recent Sales End -->
 <!-- Widgets Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div class="AssessmentTable col-sm-12 col-md-6 col-xl-4">
                        <div class="h-100  rounded p-4">
                            <div class="d-flex align-items-center justify-content-between mb-2">
                                <h6 class="mb-0">Messages</h6>
                                <a href="">Show All</a>
                            </div>
                            <div class="d-flex align-items-center border-bottom py-3">
                                <img class="rounded-circle flex-shrink-0" src="img/user.jpg" alt="" style="width: 40px; height: 40px;">
                                <div class="w-100 ms-3">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h6 class="mb-0">Jhon Doe</h6>
                                        <small>15 minutes ago</small>
                                    </div>
                                    <span>Short message goes here...</span>
                                </div>
                            </div>
                            <div class="d-flex align-items-center border-bottom py-3">
                                <img class="rounded-circle flex-shrink-0" src="img/user.jpg" alt="" style="width: 40px; height: 40px;">
                                <div class="w-100 ms-3">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h6 class="mb-0">Jhon Doe</h6>
                                        <small>15 minutes ago</small>
                                    </div>
                                    <span>Short message goes here...</span>
                                </div>
                            </div>
                            <div class="d-flex align-items-center border-bottom py-3">
                                <img class="rounded-circle flex-shrink-0" src="img/user.jpg" alt="" style="width: 40px; height: 40px;">
                                <div class="w-100 ms-3">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h6 class="mb-0">Jhon Doe</h6>
                                        <small>15 minutes ago</small>
                                    </div>
                                    <span>Short message goes here...</span>
                                </div>
                            </div>
                            <div class="d-flex align-items-center pt-3">
                                <img class="rounded-circle flex-shrink-0" src="img/user.jpg" alt="" style="width: 40px; height: 40px;">
                                <div class="w-100 ms-3">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h6 class="mb-0">Jhon Doe</h6>
                                        <small>15 minutes ago</small>
                                    </div>
                                    <span>Short message goes here...</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="AssessmentTable col-sm-12 col-md-6 col-xl-4">
                        <div class="h-100 bg-secondary rounded p-4">
                            <div class="d-flex align-items-center justify-content-between mb-4">
                                <h6 class="mb-0">Calender</h6>
                                <a href="">Show All</a>
                            </div>
                            <div id="calender"></div>
                        </div>
                    </div>
                    <div class="AssessmentTable col-sm-12 col-md-6 col-xl-4">
                        <div class="h-100  rounded p-4">
                            <div class="d-flex align-items-center justify-content-between mb-4">
                                <h6 class="mb-0">To Do List</h6>
                                <a href="">Show All</a>
                            </div>
                            <div class="d-flex mb-2">
                                <input class="form-control bg-dark border-0" type="text" placeholder="Enter task">
                                <button type="button" class="btn btn-primary ms-2">Add</button>
                            </div>
                            <div class="d-flex align-items-center border-bottom py-2">
                                <input class="form-check-input m-0" type="checkbox">
                                <div class="w-100 ms-3">
                                    <div class="d-flex w-100 align-items-center justify-content-between">
                                        <span>Short task goes here...</span>
                                        <button class="btn btn-sm"><i class="fa fa-times"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex align-items-center border-bottom py-2">
                                <input class="form-check-input m-0" type="checkbox">
                                <div class="w-100 ms-3">
                                    <div class="d-flex w-100 align-items-center justify-content-between">
                                        <span>Short task goes here...</span>
                                        <button class="btn btn-sm"><i class="fa fa-times"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex align-items-center border-bottom py-2">
                                <input class="form-check-input m-0" type="checkbox" checked>
                                <div class="w-100 ms-3">
                                    <div class="d-flex w-100 align-items-center justify-content-between">
                                        <span><del>Short task goes here...</del></span>
                                        <button class="btn btn-sm text-primary"><i class="fa fa-times"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex align-items-center border-bottom py-2">
                                <input class="form-check-input m-0" type="checkbox">
                                <div class="w-100 ms-3">
                                    <div class="d-flex w-100 align-items-center justify-content-between">
                                        <span>Short task goes here...</span>
                                        <button class="btn btn-sm"><i class="fa fa-times"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex align-items-center pt-2">
                                <input class="form-check-input m-0" type="checkbox">
                                <div class="w-100 ms-3">
                                    <div class="d-flex w-100 align-items-center justify-content-between">
                                        <span>Short task goes here...</span>
                                        <button class="btn btn-sm"><i class="fa fa-times"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Widgets End -->
*@

</div>
  <div class="container-fluid pt-4 px-4">
    <div class="AssessmentTable text-center rounded p-4" id="AssessmentTable">
        <div class="d-flex align-items-center justify-content-between mb-4">
            <h6 class="mb-0">Oversee Learning</h6>
        </div>
        <div class="table-responsive">
            <table class="table text-start align-middle table-bordered table-hover mb-0">

                <thead>
                    <tr>
                        <th>Student </th>
                        <th>Module Name </th>
                        <th>Mark obtained(%)</th>

                    </tr>
                </thead>
                <tbody>

                    @foreach (Learning_Update P in ViewBag.OverseeLearning)
                    {

                        <tr>
                            <td>@P.TBHAcademyUser.FirstName @P.TBHAcademyUser.LastName</td>
                            <td>@P.Modules.ModuleName</td>
                            <td>@P.Mark_Capture.Mark_Percentage</td>
                        </tr>

                    }
                    <tr>
                    </tr>

                </tbody>



            </table>
        </div>
    </div>
</div>
<hr />
<!----------------------------------------------------------------------Students---------------------------------------------------------------------------------->
<div class="container-fluid pt-4 px-4">
    <div class="AssessmentTable text-center rounded p-4" id="AssessmentTable">
        <div class="d-flex align-items-center justify-content-between mb-4">
            <h6 class="mb-0">Students</h6>
        </div>
        <div class="table-responsive">
            <table class="table text-start align-middle table-bordered table-hover mb-0">
            @foreach (TBHAcademyUser U in ViewBag.Students)
                        {
                            <tr>
                            <td>@U.FirstName @U.LastName</td>
                            </tr>
                        }
            </table>
        </div>
    </div>
</div>
<hr />
<!----------------------------------------------------------------------Tutors---------------------------------------------------------------------------------->
<div class="container-fluid pt-4 px-4">
    <div class="AssessmentTable text-center rounded p-4" id="AssessmentTable">
        <div class="d-flex align-items-center justify-content-between mb-4">
            <h6 class="mb-0">Tutors</h6>
        </div>
        <div class="table-responsive">
            <table class="table text-start align-middle table-bordered table-hover mb-0">
            @foreach (TBHAcademyUser U in ViewBag.Tutors)
                        {
                            <tr>
                            <td>@U.FirstName @U.LastName</td>
                            </tr>
                        }
            </table>
        </div>
    </div>
</div>