@using TBHAcademy.Areas.Identity.Data;

@model TBHAcademy.Models.Marks


@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_TutorLayoutcshtml.cshtml";
}

<h1>Create</h1>

<h4>Marks</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">


            @* ---------Start of Drop down list------------*@
            <div class="from-group">

                <label class="text-black font-weight-bold" asp-for="StudentId"></label>

                <div class="dropdown">
                    <select asp-for="StudentId" class="form-control">
                        @foreach (TBHAcademyUser U in ViewBag.Student)
                        {
                            <option value="@U.Id">@U.FirstName @U.LastName</option>
                        }
                    </select>
                    <span asp-validation-for="StudentId" class="text-danger"></span>
                </div>

            </div>

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
 @*           <div class="form-group">
                <label asp-for="MarksId" class="control-label"></label>
                <input asp-for="MarksId" class="form-control" />
                <span asp-validation-for="MarksId" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="dateTime" class="control-label"></label>
                <input asp-for="dateTime" class="form-control" />
                <span asp-validation-for="dateTime" class="text-danger"></span>
            </div>

       @*     <div class="form-group">
                <label asp-for="ModuleId" class="control-label"></label>
                <input asp-for="ModuleId" class="form-control" />
                <span asp-validation-for="ModuleId" class="text-danger"></span>
            </div>*@

            <div>

                <label class="text-black font-weight-bold" asp-for="Modules"></label>

                <div class="dropdown">
                    <select asp-for="ModuleId" class="form-control">
                        @foreach (Modules p in ViewBag.Modules)
                        {
                            <option value="@p.ModuleId">@p.ModuleName</option>
                        }
                    </select>
                    <span asp-validation-for="Modules.ModuleId" class="text-danger"></span>
                </div>

            </div>

            <div class="form-group">
                <label asp-for="MarksDescription" class="control-label"></label>
                <input asp-for="MarksDescription" class="form-control" />
                <span asp-validation-for="MarksDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OverallMarks" class="control-label"></label>
                <input asp-for="OverallMarks" class="form-control" />
                <span asp-validation-for="OverallMarks" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ObtainedMark" class="control-label"></label>
                <input asp-for="ObtainedMark" class="form-control" />
                <span asp-validation-for="ObtainedMark" class="text-danger"></span>
            </div>

          @*  <div class="form-group">
                <label asp-for="MarksComment" class="control-label"></label>
                <input asp-for="MarksComment" class="form-control" />
                <span asp-validation-for="MarksComment" class="text-danger"></span>
            </div>*@

            <div class="form-group">
                <label class="text-black font-weight-bold" asp-for="Comment"></label>

                <div class="dropdown">
                    <select asp-for="CommentId" class="form-control">
                        @foreach (Comment p in ViewBag.Comment)
                        {
                            <option value="@p.CommentId">@p.CommentText</option>
                        }
                    </select>
                    <span asp-validation-for="Comment.CommentText" class="text-danger"></span>
                </div>

            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

