@model IEnumerable<TBHAcademy.Models.Marks>

@{
    ViewData["Title"] = "ListMarks";
    Layout = "~/Views/Shared/_TutorLayoutcshtml.cshtml";
}

<h1>ListMarks</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            
            <th>
                @Html.DisplayNameFor(model => model.MarksDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OverallMarks)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ObtainedMark)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MarksComment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CommentId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModuleId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            
            <td>
                @Html.DisplayFor(modelItem => item.MarksDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OverallMarks)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ObtainedMark)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MarksComment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CommentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModuleId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentId)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
